<div class="container">
  <div class="row">
    <div class="col-md-3 col-xs-12">
      <div class="home__button home__button--fight cursor--pointer">
        <div class="home__image-container column center-xs">
          <img src="/assets/images/fight.png" alt="Fight Icon">
        </div>
        <div class="home__button-label margin__top--medium row row--no-margin center-xs">Fight</div>
      </div>
    </div>

    <div class="col-md-3 col-xs-12">
      <a routerLink="/profile">
        <div class="home__button home__button--profile cursor--pointer">
          <div class="home__image-container column center-xs">
            <img src="/assets/images/profile.png" alt="Profile Icon">
          </div>
          <div class="home__button-label margin__top--medium row row--no-margin center-xs">Profile</div>
        </div>
      </a>
    </div>
  </div>
</div>