@import '~assets/styles/variables';

:host { 
  display: flex;
  flex-direction: column;
  position: relative; 
  margin-top: $fontSizeRegular + 1.2rem;
  margin-bottom: 1.5rem;
}

input {
  font-size: $fontSizeRegular;
  padding: 1rem 1rem 1rem 0.5rem;
  color: $inputTextColor;
  display: block;
  width: 100%;
  background: $inputBackgroundColor;
  border: none;
  border-bottom:1px dashed $labelTextColor;
}
input:focus { outline:none; }

label {
  color: $labelTextColor; 
  font-size: $fontSizeRegular;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: $defaultTransitionTime ease all;
}

input:focus ~ label, input.non-empty ~ label 		{
  top: -($fontSizeRegular + 0.2rem);
  font-size: $fontSizeSmall;
  color: $labelTextColorActive;
}