<ul class="sidemenu__list">
  <li class="sidemenu__item"><a class="sidemenu__link" routerLink="home" routerLinkActive="is-active" (click)="uiStateStore.closeSideMenu()">Home</a></li>
  <li class="sidemenu__item"><a class="sidemenu__link" routerLink="asd" routerLinkActive="is-active" (click)="uiStateStore.closeSideMenu()">Ranked</a></li>
  <li class="sidemenu__item"><a class="sidemenu__link" routerLink="dsa" routerLinkActive="is-active" (click)="uiStateStore.closeSideMenu()">Jungle</a></li>
  <li class="sidemenu__item"><a class="sidemenu__link" routerLink="profile" routerLinkActive="is-active" (click)="uiStateStore.closeSideMenu()">Profile</a></li>
  <li class="sidemenu__item"><a class="sidemenu__link" routerLink="dsa" routerLinkActive="is-active" (click)="uiStateStore.closeSideMenu()">Players</a></li>
  <li class="sidemenu__item"><a class="sidemenu__link cursor--pointer" (click)="logout()">Logout</a></li>
</ul>