<div class="container">
  <div class="row center-xs"><h1 class="heading heading--big">Profile</h1></div>
  <div class="row">
    <div class="col-xs-3 column between-xs">
      <div class="row row--no-margin between-xs middle-xs margin__bottom--large">
        <div class="label hide-xs">Face</div>
        <div class="item-slot"></div>
      </div>
      <div class="row row--no-margin between-xs middle-xs margin__bottom--large">
        <div class="label hide-xs">Weapon</div>
        <div class="item-slot"></div>
      </div>
      <div class="row row--no-margin between-xs middle-xs">
        <div class="label hide-xs">Boots</div>
        <div class="item-slot"></div>
      </div>
    </div>
    <div class="col-xs-6"><div class="character"><img src="/assets/images/character.png" alt="Character"></div></div>
    <div class="col-xs-3 column between-xs">
      <div class="row row--no-margin between-xs middle-xs margin__bottom--large">
        <div class="item-slot swag">
          <img src="http://li1657-80.members.linode.com:5984/stickduels/da5b1be452392f7308474121e70056a1/img.png" alt="Character">
        </div>
        <div class="label hide-xs">Head</div>
      </div>
      <div class="row row--no-margin between-xs middle-xs margin__bottom--large">
        <div class="item-slot sexy"></div>
        <div class="label hide-xs">Vest</div>
      </div>
      <div class="row row--no-margin between-xs middle-xs">
        <div class="item-slot serious"></div>
        <div class="label hide-xs">Pants</div>
      </div>
    </div>
  </div>

  <div class="row center-xs">
    <h2 class="heading">Inventory</h2>
  </div>
  <div class="row inventory">
      <div class="item-slot"></div>
      <div class="item-slot"></div>
      <div class="item-slot"></div>
      <div class="item-slot"></div>
      <div class="item-slot"></div>
      <div class="item-slot"></div>
      <div class="item-slot"></div>
      <div class="item-slot"></div>
      <div class="item-slot"></div>
      <div class="item-slot"></div>
      <div class="item-slot"></div>
      <div class="item-slot"></div>
      <div class="item-slot"></div>
      <div class="item-slot"></div>
      <div class="item-slot"></div>
      <div class="item-slot"></div>
      <div class="item-slot"></div>
      <div class="item-slot"></div>
      <div class="item-slot"></div>
      <div class="item-slot"></div>
      <div class="item-slot"></div>
      <div class="item-slot"></div>
      <div class="item-slot"></div>
  </div>
</div>